build/*
dist/*
realtek.ico
Desanitized/*
Sanitized/*
Unsanitized/*
Undesanitized/*
Auto_sanitization.exe
Auto_sanitization.spec
Auto_sanitization_manual.py
column_desanitization.txt
column_sanitization.txt